<h1>Article comments</h1>
<% @comments.each do |comment| %>
    <li><%= comment.content%></li>
<% end %>

<%= form_with(model: [@photo, @comment], local: true) do |form| %>
    <%= form.label :content %>
    <%= field_text_area :content, class: "form-control %>
    <%= form.submit %>
<% end %>