<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<%= form_for(@user) do |form| %>
    <%= render 'shared/errors' %>
    <%#= render "users/form" %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.email_field :email %>
  </p>

  <p>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  </p>

  <p>
    <%= form.label :password_confirmation %><br>
    <%= form.password_field :password_confirmation %>
  </p>

    <p>
        <%= form.submit "Save changes" %>
    </p>
<% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  